<!DOCTYPE html>
<html>
<body bgcolor="#A89367">
<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>

 /* Alignment */
div {
    background-color: lightgreen;
    width: 700px;
    padding: 50px;
    border: 25px solid green;
    margin-left: 2.5in;
    margin-right: 2.5in;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListBullet, li.MsoListBullet, div.MsoListBullet
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:4.0pt;
	margin-left:0in;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	color:#404040;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{
	margin:0in;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
span.BalloonTextChar
	{
	font-family:"Tahoma","sans-serif";}
p.SectionHeading, li.SectionHeading, div.SectionHeading
	{
	margin-top:25.0pt;
	margin-right:0in;
	margin-bottom:5.0pt;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Cambria","serif";
	color:#4F81BD;
	font-weight:bold;}
p.Subsection, li.Subsection, div.Subsection
	{
	margin-top:14.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	color:#262626;
	text-transform:uppercase;
	font-weight:bold;}
.MsoChpDefault
	{font-family:"Calibri","sans-serif";}

div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}

</style>

</head>

<body lang=EN-US >

<div class=WordSection1>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:125%'><span style='position:relative;z-index:251659264'><span
style='left:0px;position:absolute;left:441px;top:-29px;width:166px;height:185px'>
    
    <img src="~/My CV/Hafiz/image010.png" width="166" height="185" alt=" "/>
        </span></span><b><span
style='font-size:24.0pt;line-height:125%'>Hafiz Muhammad Saqib Amin</span></b></p>

<p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in;
line-height:125%'><span style='font-size:12.0pt;line-height:125%;font-family:
Symbol'><img width=15 height=13
src="~/My CV/Hafiz/image001.gif" alt="*"><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
dir=LTR></span><span style='font-size:12.0pt;line-height:125%'>hafizmuhammadsaqib.amin@gmail.com</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in;
line-height:125%'><span style='font-size:12.0pt;line-height:125%;font-family:
Symbol'><img width=15 height=13
src="~/My CV/Hafiz/image002.gif" alt="*"><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
dir=LTR></span><a href="http://muhammadsaqib.eu5.org/"><span style='font-size:
12.0pt;line-height:125%'>www.muhammadsaqib.eu5.org</span></a></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in;
line-height:125%'><span style='font-size:12.0pt;line-height:125%;font-family:
Symbol'><img width=15 height=13
src="~/My CV/Hafiz/image004.gif" alt="*"><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
dir=LTR></span><span style='font-size:12.0pt;line-height:125%'>+92 333 4753826</span></p>

<p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-.25in;
line-height:125%'><span style='font-size:12.0pt;line-height:125%;font-family:
Symbol'><img width=15 height=13
src="~/My CV/Hafiz/image003.gif" alt="*"><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
dir=LTR></span><span style='font-size:12.0pt;line-height:125%'>HNo. 699, F
Block Gulshan-e-Ravi Lahore Pakistan</span></br></br>
    <span style='font-size:12.0pt;line-height:125%'>Click Here to Download Resume</span> 
    <a href="~/My CV/Hafiz/PDF.pdf" title="Download .pdf"><img src="~/My CV/Hafiz/image006.png" alt="Download the pdf version" hspace="10"/></a>
</p>

<p class=SectionHeading style='margin-top:.5in;text-align:justify'><span
style='font-size:16.0pt;font-family:"Calibri","sans-serif";color:windowtext'>Objective</span></p>

<p class=MsoListBullet style='text-align:justify'><span style='font-size:12.0pt;
color:windowtext'>Experienced Software Engineer with extensive practice in
computer science and technology engineering seeking work with NCBA&amp;E to
utilize design and customer service abilities.</span></p>

<p class=SectionHeading style='text-align:justify'><span style='font-size:16.0pt;
font-family:"Calibri","sans-serif";color:windowtext'>Education</span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:.75in;text-align:justify;
text-indent:-.25in'><span style='font-size:12.0pt;line-height:115%;font-family:
Symbol'><img width=14 height=13
src="~/My CV/Hafiz/image005.png" alt="*"><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
dir=LTR></span><span style='font-size:12.0pt;line-height:115%'>BS-CS from
NCBA&amp;E Lahore (Continue: 2014-2018)</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:.75in;text-align:justify;
text-indent:-.25in'><span style='font-size:12.0pt;line-height:115%;font-family:
Symbol'><img width=14 height=13
src="~/My CV/Hafiz/image005.png" alt="*"><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
dir=LTR></span><span style='font-size:12.0pt;line-height:115%'>FSc. Pre-Medical
from Punjab Group of Colleges Lahore</span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:.75in;text-align:justify;
text-indent:-.25in'><span style='font-size:12.0pt;line-height:115%;font-family:
Symbol'><img width=14 height=13
src="~/My CV/Hafiz/image005.png" alt="*"><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
dir=LTR></span><span style='font-size:12.0pt;line-height:115%'>Matriculation
from Pak Angels Public High School Lahore</span></p>

<p class=SectionHeading style='text-align:justify'><span style='font-size:16.0pt;
font-family:"Calibri","sans-serif";color:windowtext'>Experience</span></p>

<p class=Subsection style='margin-top:5.0pt;text-align:justify'><span
style='font-size:11.0pt;color:windowtext'>APP
Developer&nbsp;|&nbsp;NCBA&amp;E&nbsp;|&nbsp;2014-2018</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt'>In this house I completed several projects, related to
desktop applications including </span></p>

<p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Wingdings'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span dir=LTR></span><a
href="http://muhammadsaqib.eu5.org/"><span style='font-size:12.0pt'>Sports Gala
Project</span></a><span style='font-size:12.0pt'> in C++</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Wingdings'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span dir=LTR></span><a
href="http://muhammadsaqib.eu5.org/"><span style='font-size:12.0pt'>Student
Record System</span></a><span style='font-size:12.0pt'> in C#</span></p>

<p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Wingdings'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span dir=LTR></span><a
href="http://muhammadsaqib.eu5.org/"><span style='font-size:12.0pt'>Flip Flop
Game</span></a><span style='font-size:12.0pt'> in Java</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt'>Other projects e.g. developing</span></p>

<p class=MsoListParagraph style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Wingdings'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span dir=LTR></span><span
style='font-size:12.0pt'>A<span style='color:blue'> </span></span><a
href="http://muhammadsaqib.eu5.org/"><span style='font-size:12.0pt'>Website</span></a><span
style='font-size:12.0pt'> in HTML/CSS/JavaScript also included.</span></p>

<p class=SectionHeading style='text-align:justify'><span style='font-size:16.0pt;
font-family:"Calibri","sans-serif";color:windowtext'>Skills &amp; Abilities</span></p>

<p class=MsoListParagraph style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:14.0pt;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><b><span style='font-size:14.0pt'>Programming
Languages</span></b></p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in;line-height:normal'><span
style='font-size:12.0pt'>C++                                                      C#                                                        Java</span></p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in;line-height:normal'><span
style='font-size:12.0pt'>HTML/CSS/JavaScript                         ASP.NET/MVC
4</span></p>

<p class=MsoListParagraph style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:14.0pt;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><b><span style='font-size:14.0pt'>Software
Knowledge</span></b></p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in;line-height:normal'><span
style='font-size:12.0pt'>SQL Server                                          Visual
Studio                           Adobe Photoshop</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;line-height:normal'><span
style='font-size:12.0pt'>Windows                                             Android                                   MS
Word</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;line-height:normal'><span
style='font-size:12.0pt'>Power Point                                         Excel                                        InPage
Urdu</span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:16.0pt;
line-height:115%'>Communication</span></b></p>

<p class=MsoListBullet style='text-align:justify'><span style='font-size:12.0pt;
color:windowtext'>Ability to interact and effectively communicate with people,
highlighting teamwork and problem solving.</span></p>

</div>

</body>

</html>
