@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div id="content">
        <div class="content_item">
		  <h1>Welcome To My Website</h1> 
	      <p>Experienced Software Engineer with extensive practice in computer science and technology engineering seeking work with NCBA&E Company to utilize design and customer service abilities.</p>	  
		  <div class="content_container">
		    <p>Knowledge of computer programming is a prerequisite to becoming a software engineer.</p>
		  	<div class="button_small">
		      <a href="https://en.wikipedia.org/wiki/Software_engineering#Education">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="content_container">
		    <p>Legal requirements for the licensing or certification of professional software engineers vary around the world.</p>          
		  	<div class="button_small">
		      <a href="https://en.wikipedia.org/wiki/Software_engineering#Profession">Read more</a>
		    </div><!--close button_small-->		  
		  </div><!--close content_container-->		
		  <div class="content_container">
		    <p>Software Engineering sees its practitioners as individuals who follow well-defined engineering approaches to problem-solving.</p>
		  	<div class="button_small">
		      <a href="https://en.wikipedia.org/wiki/Software_engineering#Criticism">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="content_container">
		    <p>Software engineering is the application of engineering to the design, development, implementation and maintenance of software in a systematic method.</p>          
		  	<div class="button_small">
		      <a href="https://en.wikipedia.org/wiki/Software_engineering#Over_definition">Read more</a>
		    </div><!--close button_small-->		  
		  </div><!--close content_container-->			  
		</div><!--close content_item-->
      </div><!--close content-->   
	
